body{
  background-image:url(http://s020.radikal.ru/i716/1304/f0/72e776585cc4.jpg);
}

a {
  text-decoration:none;
	color:#4169e1;
	font-weight: bold;         
	font-family: arial;
}

a:hover {
  color:#1b1b1b;
}
h1, h2, h3, h4, h5, h6, a.post_ttl {
	color:#505050;
	text-decoration:none;
	font-weight: bold;         
	font-family: arial;
}
