body{
  background-image:url(http://s020.radikal.ru/i716/1304/f0/72e776585cc4.jpg);

  background-repeat: no-repeat;
  width: 1280px;
}

a {
  	text-decoration:none;
	color:#4169e1;
	font-weight: bold;         
	font-family: arial;
}

a:hover {
  	color:#1b1b1b;
}
h1, h2, h3, h4, h5, h6, a.post_ttl {
	color:#505050;
	text-decoration:none;
	font-weight: bold;         
	font-family: arial;
}

menu    {
	width:63.5%;
	height:100 px; 
	border:0;
	background:url('http://img.tatfisher.ru/images/1znz.png'); 
	background-repeat: no-repeat; 
	background-align: center; 
}

#page_wrap{
	width: 1280px;
	margin: 0px auto 0px;
}
.content {
    background-color: rgba(255, 255, 255, 0.9);
    margin: 0 auto;
    margin-right: 20px;
    margin-left: 20px;
    padding:5px 15px;
    display:block;
    border-radius:8px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
}
 .main_content {
    display:block;
    margin: 10px 0px;
    padding:6px;
}
.items {
    display:block;
    text-align: center;
    padding-left: 45px;
}
.items li {
    float: left;
    margin:0 5px;
    display: block;
}

.items li a {
    float: left;
    display: block;
    color:#fafafa;
    padding:5px 10px;
    text-decoration: none;
}

.items li a:hover {
    float: left;
    display: block;
    color:#fff;
    border-bottom:1px solid #fff;
    padding:4px 10px;
    text-decoration: none;
}
#menu {
	padding: 0;
	margin-left: 25px ;
	font-size: 100%;
	font-family: Georgia;
	}
#menu li {
	list-style: none;
	float: left;
	height: 33px;
	padding: 0;
	margin: 0;
	width: 150px;
	text-align: center;
	background: #171717;
	position: relative;
	padding-top: 12px;
	}
#menu li ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 150px;
	display: none;
	position: absolute;
	left: 0;
	top: 45px;
	}
#menu li ul li {
	float: none;
	height: 33px;
	margin: 0;
	width: 150px;
	text-align: center;
	background: #7F7F7F;
	}
#menu li a {
	display: block;
	width: 150px;
	height: 33px;
	color: #fff;
	text-decoration: none;
	}
#menu li:hover ul, #menu li.jshover ul {
	display: block;
	}
#menu li:hover, #menu li.jshover {
	background: #424242;
	}
